# Première jointure entre la base validation et les stations INSEE
Ce fichier a pour but de faire la jointure entre les données de validation et les stations de *RER* afin de voir s'il manque des stations pendant la jointure.

## Packages et importation des données

In [1]:
import pandas as pd
from _pre_proces_validations import df_validations
from _pre_proces_stations import df_stations

In [14]:
validations=df_validations()

In [15]:
stations=df_stations()

In [16]:
validations.head()

        JOUR    lda CATEGORIE_TITRE  NB_VALD  Mois  Année
0 2023-01-01  59403       AMETHYSTE        5     1   2023
1 2023-01-01  59403             FGT        5     1   2023
2 2023-01-01  59403       IMAGINE R       17     1   2023
3 2023-01-01  59403          NAVIGO       10     1   2023
4 2023-01-01  59403             TST        5     1   2023

In [17]:
stations.head()

,Geo Point,Geo Shape,gares_id,nom_long,nom_so_gar,nom_su_gar,id_ref_ZdC,nom_ZdC,id_ref_ZdA,nom_ZdA,...,ind_40_54,ind_55_64,ind_65_79,ind_80p,ind_inc,pre_IDF,select,expt,,res_com
0,"48.53289010230884, 2.290082513840396","{""coordinates"": [2.290082513840396, 48.5328901...",101,Bouray,NaN,NaN,59830,Bouray,47905,Bouray,...,138.0,87.0,83.0,46.0,1.0,1.0,1.0,1.0,NaN,RER C
1,"48.529746917640566, 2.572073662735742","{""coordinates"": [2.572073662735742, 48.5297469...",85,Boissise-le-Roi,NaN,NaN,61943,Boissise-le-Roi,45763,Boissise-le-Roi,...,192.9,112.9,158.8,68.1,1.0,1.0,1.0,1.0,NaN,RER D
2,"48.725535303926115, 2.419565024387933","{""coordinates"": [2.419565024387933, 48.7255353...",3,Ablon,NaN,NaN,69554,Ablon,46387,Ablon,...,865.0,445.0,462.1,201.0,1.0,1.0,1.0,1.0,NaN,RER C
3,"48.932196005027805, 2.495513142584313","{""coordinates"": [2.495513142584313, 48.9321960...",37,Aulnay-sous-Bois,NaN,NaN,72646,Aulnay-sous-Bois,43071,Aulnay-sous-Bois,...,1154.0,690.0,593.0,238.0,3.0,1.0,1.0,1.0,NaN,RER B
4,"48.79333629530144, 2.3222016336701206","{""coordinates"": [2.322201633670121, 48.7933362...",45,Bagneux,NaN,NaN,70210,Bagneux,44493,Bagneux,...,2757.0,1675.0,1407.0,577.0,21.0,1.0,1.0,1.0,NaN,RER B

## Identification des lignes avec un problème de jointure

In [18]:
joint_table = pd.merge(validations, stations, left_on='lda', right_on='id_ref_ZdC', how='right')

In [19]:
joint_table.head()

,JOUR,lda,CATEGORIE_TITRE,NB_VALD,Mois,Année,Geo Point,Geo Shape,gares_id,nom_long,...,ind_40_54,ind_55_64,ind_65_79,ind_80p,ind_inc,pre_IDF,select,expt,,res_com
0,2023-01-01,59830.0,NON DEFINI,5.0,1.0,2023.0,"48.53289010230884, 2.290082513840396","{""coordinates"": [2.290082513840396, 48.5328901...",101,Bouray,...,138.0,87.0,83.0,46.0,1.0,1.0,1.0,1.0,NaN,RER C
1,2023-01-01,59830.0,AMETHYSTE,5.0,1.0,2023.0,"48.53289010230884, 2.290082513840396","{""coordinates"": [2.290082513840396, 48.5328901...",101,Bouray,...,138.0,87.0,83.0,46.0,1.0,1.0,1.0,1.0,NaN,RER C
2,2023-01-01,59830.0,FGT,5.0,1.0,2023.0,"48.53289010230884, 2.290082513840396","{""coordinates"": [2.290082513840396, 48.5328901...",101,Bouray,...,138.0,87.0,83.0,46.0,1.0,1.0,1.0,1.0,NaN,RER C
3,2023-01-01,59830.0,IMAGINE R,82.0,1.0,2023.0,"48.53289010230884, 2.290082513840396","{""coordinates"": [2.290082513840396, 48.5328901...",101,Bouray,...,138.0,87.0,83.0,46.0,1.0,1.0,1.0,1.0,NaN,RER C
4,2023-01-01,59830.0,NAVIGO,101.0,1.0,2023.0,"48.53289010230884, 2.290082513840396","{""coordinates"": [2.290082513840396, 48.5328901...",101,Bouray,...,138.0,87.0,83.0,46.0,1.0,1.0,1.0,1.0,NaN,RER C

In [20]:
rows_with_lda_nan = joint_table[pd.isna(joint_table['lda'])]
rows_with_lda_nan

,JOUR,lda,CATEGORIE_TITRE,NB_VALD,Mois,Année,Geo Point,Geo Shape,gares_id,nom_long,...,ind_40_54,ind_55_64,ind_65_79,ind_80p,ind_inc,pre_IDF,select,expt,,res_com
23505,NaT,NaN,NaN,NaN,NaN,NaN,"48.92087280342236, 2.313835382457718","{""coordinates"": [2.313835382457718, 48.9208728...",450,Les Grésillons,...,1078.0,490.0,430.9,107.0,28.0,1.0,1.0,1.0,NaN,RER C
69189,NaT,NaN,NaN,NaN,NaN,NaN,"48.87215749394265, 2.329927170608275","{""coordinates"": [2.329927170608275, 48.8721574...",32,Auber,...,1784.0,940.0,866.0,290.0,1.0,1.0,1.0,1.0,NaN,RER A
106788,NaT,NaN,NaN,NaN,NaN,NaN,"48.88077520385858, 2.358732959087859","{""coordinates"": [2.358732959087859, 48.8807752...",490,Magenta,...,5728.5,3116.0,2783.0,803.0,167.0,1.0,1.0,1.0,NaN,"RER E, RER B, RER D"
106789,NaT,NaN,NaN,NaN,NaN,NaN,"48.770778916124826, 2.6902527821957585","{""coordinates"": [2.690252782195758, 48.7707789...",965,Ozoir-la-Ferrière,...,432.0,207.0,251.9,62.1,5.0,1.0,1.0,1.0,NaN,RER E
156591,NaT,NaN,NaN,NaN,NaN,NaN,"48.84084437122463, 2.549900487641345","{""coordinates"": [2.549900487641345, 48.8408443...",598,Noisy-le-Grand-Mont d'Est,...,2278.0,1412.0,1152.0,340.0,52.0,1.0,1.0,1.0,NaN,RER A
226558,NaT,NaN,NaN,NaN,NaN,NaN,"48.689567256029264, 2.383833358799738","{""coordinates"": [2.383833358799738, 48.6895672...",387,Juvisy,...,1119.0,571.1,557.0,283.9,3.0,1.0,1.0,1.0,NaN,"RER D, RER C"
235122,NaT,NaN,NaN,NaN,NaN,NaN,"48.43692393670402, 2.1595305875651536","{""coordinates"": [2.159530587565154, 48.4369239...",271,Étampes,...,723.0,447.1,424.0,173.0,2.0,1.0,1.0,1.0,NaN,RER C

## Résolution de l'erreur

Il faut donc régler cette erreur d'association (qui vient probablement de changements dans la base qui n'ont pas été répercuté).

In [24]:
stations_pb=rows_with_lda_nan['nom_long'].tolist()

In [32]:
for i in range(len(stations_pb)) : 
    print(stations[stations['nom_long']==stations_pb[i]].loc[:,['nom_long','id_ref_ZdC']])

          nom_long  id_ref_ZdC
18  Les Grésillons       72225
   nom_long  id_ref_ZdC
51    Auber      478926
   nom_long  id_ref_ZdC
78  Magenta      478733
             nom_long  id_ref_ZdC
79  Ozoir-la-Ferrière      462934
                      nom_long  id_ref_ZdC
115  Noisy-le-Grand-Mont d'Est      479919
    nom_long  id_ref_ZdC
166   Juvisy      478505
    nom_long  id_ref_ZdC
173  Étampes      478855

In [9]:
stations.loc[stations['id_ref_ZdC'] == 72225, 'id_ref_ZdC'] = 72219
stations.loc[stations['id_ref_ZdC'] == 478926, 'id_ref_ZdC'] = 73792
stations.loc[stations['id_ref_ZdC'] == 478733, 'id_ref_ZdC'] = 71410
stations.loc[stations['id_ref_ZdC'] == 478505, 'id_ref_ZdC'] = 62737
stations.loc[stations['id_ref_ZdC'] == 462934, 'id_ref_ZdC'] = 67747
stations.loc[stations['id_ref_ZdC'] == 479919, 'id_ref_ZdC'] = 412697
stations.loc[stations['id_ref_ZdC'] == 478855, 'id_ref_ZdC'] = 59577

In [11]:
joint_table = pd.merge(validations, stations, left_on='lda', right_on='id_ref_ZdC', how='right')
rows_with_lda_nan = joint_table[pd.isna(joint_table['lda'])]
rows_with_lda_nan

Empty DataFrame
Columns: [JOUR, lda, CATEGORIE_TITRE, NB_VALD, Mois, Année, Geo Point, Geo Shape, gares_id, nom_long, nom_so_gar, nom_su_gar, id_ref_ZdC, nom_ZdC, id_ref_ZdA, nom_ZdA, idrefliga, idrefligc, indice_lig, mode_, tertrain, terrer, termetro, tertram, terval, exploitant, idf, principal, x, y, picto ligne, nom_iv, geometry, index_right, idcar_1km, i_est_1km, lcog_geo, ind, men, men_pauv, men_1ind, men_5ind, men_prop, men_fmp, ind_snv, men_surf, men_coll, men_mais, log_av45, log_45_70, log_70_90, log_ap90, log_inc, log_soc, ind_0_3, ind_4_5, ind_6_10, ind_11_17, ind_18_24, ind_25_39, ind_40_54, ind_55_64, ind_65_79, ind_80p, ind_inc, pre_IDF, select, expt, , res_com]
Index: []

[0 rows x 70 columns]

In [12]:
joint_table.head()

,JOUR,lda,CATEGORIE_TITRE,NB_VALD,Mois,Année,Geo Point,Geo Shape,gares_id,nom_long,...,ind_40_54,ind_55_64,ind_65_79,ind_80p,ind_inc,pre_IDF,select,expt,,res_com
0,2023-01-01,59830,NON DEFINI,5,1,2023,"48.53289010230884, 2.290082513840396","{""coordinates"": [2.290082513840396, 48.5328901...",101,Bouray,...,138.0,87.0,83.0,46.0,1.0,1.0,1.0,1.0,NaN,RER C
1,2023-01-01,59830,AMETHYSTE,5,1,2023,"48.53289010230884, 2.290082513840396","{""coordinates"": [2.290082513840396, 48.5328901...",101,Bouray,...,138.0,87.0,83.0,46.0,1.0,1.0,1.0,1.0,NaN,RER C
2,2023-01-01,59830,FGT,5,1,2023,"48.53289010230884, 2.290082513840396","{""coordinates"": [2.290082513840396, 48.5328901...",101,Bouray,...,138.0,87.0,83.0,46.0,1.0,1.0,1.0,1.0,NaN,RER C
3,2023-01-01,59830,IMAGINE R,82,1,2023,"48.53289010230884, 2.290082513840396","{""coordinates"": [2.290082513840396, 48.5328901...",101,Bouray,...,138.0,87.0,83.0,46.0,1.0,1.0,1.0,1.0,NaN,RER C
4,2023-01-01,59830,NAVIGO,101,1,2023,"48.53289010230884, 2.290082513840396","{""coordinates"": [2.290082513840396, 48.5328901...",101,Bouray,...,138.0,87.0,83.0,46.0,1.0,1.0,1.0,1.0,NaN,RER C